<div class="form-container">
  <%= simple_form_for user, url: user_path(id: user.id) do |f| %>
    <%= f.input :first_name%>
    <%= f.input :last_name%>
    <%= f.input :email %>
    <%= f.input :password, label: 'Current Password' %>
    <%= f.input :new_password %>

    <div class="actions">
      <%= f.button :submit, 'Submit', class: 'button btn-success' %>
      <%= link_to "Cancel", :back, class: 'button btn-danger' %>
    </div>
  <% end %>
</div>
